.container {
  display: flex;
  margin: 0 auto;
  background-size: contain;
  width: 1400px;
  height: 600px;
  background-image: linear-gradient(
      rgba(245, 246, 252, 0.7),
      rgba(245, 246, 252, 0.9)
    ),
    url('../../img/mercedes_PNG80135-2.png');
}

.mainTitle {
  margin: 10px;
  font-size: 40px;
  color: #000000;
}

.mainTitle > span {
  font-size: 78px;
  color: #ff213b;
}
