.container {
  display: flex;
  margin: 0 auto;
  background-size: cover;
  background-image: url('../../img/mercedes_PNG80135-2.png');
  opacity: 0.8;
  width: 1400px;
  height: 600px;
}

.mainTitle {
  margin: auto;
  font-size: 40px;
  color: rgb(126, 72, 3);
}

.mainTitle > span {
  font-size: 78px;
  color: rgb(109, 4, 4);
}
