.nav {
}

.navList {
  display: flex;
  list-style-type: none;
}

.navItem {
  width: 150px;
  height: 80px;
  margin: 0 10px;
  text-align: center;
}

.navItem:hover {
  width: 150px;
  height: 30px;
  background-color: rgb(143, 61, 61);
  cursor: pointer;
}

.link {
  color: rgb(36, 29, 5);
  text-decoration: none;
}

.link:hover {
  color: rgb(241, 239, 232);
}
