.container {
  padding: 30px;
  margin: auto;
  text-align: center;
}

.costTitle {
  font-size: 38px;
  text-align: center;
  font-weight: bold;
}

.list {
  list-style-type: none;
  column-count: 2;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.item {
  box-shadow: 0 14px 28px#cbd2d6, 0 10px 10px #cbd2d6;
  width: 500px;
  height: 560px;
  margin-right: 50px;
}

.title {
  font-size: 24px;
  padding: 15px;
  width: 500px;
  height: 60px;
  opacity: 0.8;
  background-color: #172c42;
  text-align: center;
  color: #ffffff;
}

.discription {
  font-size: 14px;
  color: #000000;
}

.discription::before {
  content: '';
  background-image: url('../../img/document.svg');
  background-size: cover;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

.lastPrice {
  text-align: center;
  font-size: 27px;
  text-decoration: line-through;
}

.nextPrice {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  color: #172c42;
}

.button {
  color: black;
  width: 325px;
  height: 60px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  background-color: white;
  border: 2px solid #ff213b;
}

.button:hover {
  background-color: rgb(143, 61, 61);
  cursor: pointer;
  color: white;
}

.note {
  color: #172c42;
}

.span {
  color: #ff213b;
}
