.header {
  display: flex;
  justify-content: space-between;
}

.img {
  margin-left: 130px;
  width: 80px;
  height: 30px;
}

.contact {
  margin-right: 30px;
}

.link {
  color: rgb(31, 32, 34);
  text-decoration: none;
}

.order {
  color: black;
  width: 265px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  margin: 0 15px;
  background-color: white;
  border: 2px solid #ff213b;
}

.order:hover {
  background-color: #ff213b;
  cursor: pointer;
  color: white;
}
