.container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.benefTitle {
  font-size: 38px;
  text-align: center;
  font-weight: bold;
}

.img {
  width: 600px;
}

.benefList {
  display: block;
  width: 500px;
  list-style-type: none;
}

.benefItem {
  margin: 20px 0;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.title::before {
  content: '';
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 25px;
  stroke: none;
  fill: #ff213b;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-image: url('../../img/timessquare.svg');
}

.discription::before {
  content: '';
  border-bottom: 5px solid #ff213b;
  display: block;
  width: 50px;
  margin-left: 0;
}
